body {
  display: flex;
  justify-content:right;
  
}

header {
  background-color: #b3b3b3;
  margin-right: 480px;
  
  
  
}
.container {
  background-color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  
}


ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-button {
  margin: 20px 0;
  width: 200px;
  height: 100px;
}

button {
  border: none;
  transition: all .5s;
  width: 180px;
  height: 120px;
  font-weight: bold;
  font-size: 14px;
}

button span {
  display: inline-block;
  position: relative;
  transition: all .5s;
}

button:hover {
  cursor: pointer;
}

.bounce-effect:hover {
  width: 189px;
  height: 40px;
}

.bounce-effect:active {
  width: 171px;
  height: 38px;
}

/* FIRST BUTTON */

.first-button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
  

.first-button::before {
  content: "";
  width: 100%;
  height: 0%;
  background-color: #ff9900;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 1;
  transition: all .8s;
  border-radius: 50% 50% 0 0;
}

.first-button span {
  z-index: 2;
}

.first-button:hover {
  color: #FFF;
}

.first-button:hover::before {
  height: 180%;
}.third-button 

/* SECOND BUTTON */

.second-button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.second-button::before {
  
}

.second-button span {
  z-index: 2;
}

.second-button:hover {
  color: #FFF;
}

.second-button:hover::before {
  height: 180%;
}


/* THIRD BUTTON */

.third-button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.third-button::before {
  content: "";
  width: 100%;
  height: 0%;
  background-color: #ff9900;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: 1;
  transition: all .8s;
  border-radius: 50% 50% 0 0;
}

.third-button span {
  z-index: 2;
}

.third-button:hover {
  color: #969696;
}

.third-button:hover::before {
  height: 180%;
}

.title {
  margin-left: 5%;
}

#seta {
  height: 20px;
}