* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cabeca {
    background-color: #3a4145c4;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
  }

  body {
    height: 100vh;
  }

  .cabeca .itemmenu {
     width: 40px;
     margin-right: 10px;
  }
  .cabeca .logo {
     width: 120px;
     margin-right: 10px;
  }

    /* Botoes lado direito */
  
  
  .menulateral {
    width: 100vw;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 50px;
    
    
    
    
  }

  .botoesLateral {
    box-shadow: 2px 5px 7px rgb(0, 0, 0); 
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    width: 130px;
    height: 130px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
   

  }



  .botoesLateral img {
      height: 70px;
      margin-bottom: 15px;

     


  }

  .logoFundo img {
    opacity: 0.30;
    
    height: 600px;
    margin-top: 700px;
  }

  
    /* efeito nos botoes */
  .botoesLateral:hover{
  
    
    text-decoration:none;
    background:transparent;
    outline:none;
    transition: 300ms;
    
    
    
  }
  
  .botoesLateral:hover{
    border: 2px solid #F58634;
    box-shadow: 0 0 8px;
  }




   /* fim Botoes lado direito */



   div#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99999;
  }
  .loader .title {
    color: #525866;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-50px; 
    margin-left:-50px;
  }
  /*Loading Animação*/
  :root {
    --cor-azul: #F58634;
    --cor-preto: #4c4c4c;
  }
  .loading-animacao {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--cor-preto);
    margin-left: 20px;
    margin-bottom: 10px;
    
  }
  .loading-animacao:before,
  .loading-animacao:after {
    
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
    
  }
  .loading-animacao:after {
    color: var(--cor-azul);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }
  @keyframes rotate {
          0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
          }
          100% {
            transform: translate(-50%, -50%) rotateZ(360deg);
          }
        }
        @keyframes rotateccw {
          0% {
            transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(-360deg);
          }
        }
        @keyframes spin {
          0%,
          100% {
            box-shadow: .2em 0px 0 0px currentcolor;
          }
          12% {
            box-shadow: .2em .2em 0 0 currentcolor;
          }
          25% {
            box-shadow: 0 .2em 0 0px currentcolor;
          }
          37% {
            box-shadow: -.2em .2em 0 0 currentcolor;
          }
          50% {
            box-shadow: -.2em 0 0 0 currentcolor;
          }
          62% {
            box-shadow: -.2em -.2em 0 0 currentcolor;
          }
          75% {
            box-shadow: 0px -.2em 0 0 currentcolor;
          }
          87% {
            box-shadow: .2em -.2em 0 0 currentcolor;
          }
        }